@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    background-color: white;
    max-width: 320px;
    margin: 16px;
    border-radius: 20px;
}
.actor-image{
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1{
    font-size: 22px;
    margin-top: 20px;
    color: hsl(223, 47%, 23%);
}
.describe{
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-card{
    background-color: hsl(225, 100%, 98%);
    height: 70px;
    width: 280px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-image{
    height: 40px;
    margin-left: 10px;
}
.price{
    margin-left: 20px;
}
.price .plan-type{
    font-size: 14px;
    color: hsl(223, 47%, 23%);
}
.price span{
    padding-top: 10px;
    font-size: 13px;
    color: hsl(224, 23%, 55%);
}
.price-card a{
    font-size: 14px;
    margin-left: 50px;
    text-decoration: underline;
}
.info button{
    margin-top: 10px;
    width: 280px;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}
.info p{
    margin-top: 20px;
    margin-bottom: 25px;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    font-size: 15px;
}
.info p:hover, .price-card a{
    cursor: pointer;
}
.info button:hover{
    background-color: hsl(223, 47%, 23%);
    cursor: pointer;
}


@media only screen and (min-width: 768px){
    .container{
        max-width: 400px;
    }
    .actor-image{
        width: 400px;
    }
    .describe{
        padding-left: 25px;
        padding-right: 25px;
    }
    .price-card{
        width: 320px;
        height: 90px;
    }
    .price-card a{
        padding-left: 40px;
    }
    .info button{
        width: 320px;
        height: 44px;
    }
}